.ingredientsList {
  width: 80%;
  margin: auto;
  text-align: center;
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

.ingredientsList li {
  display: inline-block;
  margin-right: 5px;
  padding: 10px;
  background-color: brown;
  color: #fff;
}

.ingredientsList li button {
  margin-top: 5px;
  display: block;

  padding: 5px;
  width: 100%;
  border: none;
  border-radius: 2px;

  background-color: #f06969;
  color: #fff;
  font-weight: bold;

  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.ingredientsList li button:hover {
  background-color: #862020; /* Green */
  color: white;
}